<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Wiki</title>
  <style>
    .error {
      color: red;
    }
    tr td {
      vertical-align: top;
    }
  </style>
</head>
<body>
  <form method="post">
    <table>
      <tr>
        <td><label for="subject">Subject: </label></td>
        <td><input type="text" id="subject" name="subject" value="{{subject}}" pattern="^([a-zA-Z0-9()_ -]+)*$"></td>
      </tr>
      <tr>
        <td><label for="content">Content: </label></td>
        <td><textarea id="content" name="content" cols="60" rows="20">{{content if content else ''}}</textarea></td>
      </tr>
      <tr>
        <td colspan="2" class="error">{{error}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="hidden" name="path" value="{{path}}">
          <input type="submit" value="{{btntext}}">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
