{% extends "base.html" %}

{% block basecontent %}
<section class="hero is-black is-fullheight">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h1 class="title">Login</h1>
        <h2 class="subtitle">Please login to proceed</h2>
        <div class="box has-text-left">
          <form method="post">
            <div class="field">
              <label class="label" for="name">Username</label>
              <div class="control has-icons-left">
                <input class="input" placeholder="e.g AlexSmith" type="text" id="name" name="name" value="{{name}}" autocomplete="off">
                <span class="icon is-small is-left">
                  <i class="material-icons">person</i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label" for="password">Password</label>
              <div class="control has-icons-left">
                <input class="input" placeholder="e.g. 1234abcd$!@#" type="password" id="password" name="password">
                <span class="icon is-small is-left">
                  <i class="material-icons">lock_outline</i>
                </span>
              </div>
            </div>
            <div class="field">
              <p class="has-text-danger">{{error}}</p>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox"> Keep me logged in</label>
              </div>
            </div>
            <div class="control">
              <input type="hidden" name="redirect_to" value="{{path}}">
              <button class="button is-success">Sign in</button>
            </div>
          </form>
        </div>
        <p class="has-text-grey">
            Are you new to Progrwiki? <a class="has-text-success" href="/register{{'?redirect_to=' + path if path}}">Sign up.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<script>
  const btn = document.querySelector('button');
  btn.addEventListener('click', function() {
    this.classList.add('is-loading')
  })
</script>
{% endblock %}
