{% extends "content.html" %}

{% block content %}
<section class="hero is-black is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{wiki.subject}}</h1>
      <h2 class="subtitle">From Wikipedia, the free encyclopedia</h2>
    </div>
  </div>
</section>
{% if version %}
  <div class="notification is-danger">
  This is an old revision of this page, as edited by <a href="/#">{{wiki.last_contributor.name}}</a> at {{wiki.last_modified.strftime("%H:%M, %d %B %Y")}}. The present address (URL) is a permanent link to this revision, which may differ significantly from the <a href="{{wiki.url}}"><strong>current revision</strong></a>.
  </div>
{% endif %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <article class="section">
          <div class="content">
            <p>{{wiki.content}}</p>
          </div>
        </article>
        <footer>
          <p></p>
        </footer>
      </div>
      <div class="column">
        <div class="infobox">
        <figure>
          <img alt="HTML Reference logo" src="images/800px-401_Gridlock.jpg">
          <figcaption>
            Modern cars and trucks driving on an expressway in Ontario.
          </figcaption>
        </figure>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
